

.has-tooltip {
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.tooltip {
	position: absolute;
	z-index: 9999;
	display: none;
	pointer-events: none;
	width: 0px;
	height: 0px;
	transform: translate(-50%,-50%);



	// @media(max-width: 375px) {
	// 	position: static;
	//     width: 100% !important;
	//     max-width: none !important;
	//     margin: 0 3%;
	//     height: auto;
	//     -webkit-transform: none !important;
	//     transform: none !important;
	//     display: block !important;

	//     .tooltip-inner {
	//     	-webkit-transform: none !important;
	//     	transform: none !important;
	//     	width: 93% !important;
	//     	top: 0 !important;

	//     	&:after {
	// 			display: none !important;
	// 		}

	// 		.close-button {
	// 			display; none;
	// 		}


	//     }
	// }

	&.tooltip-active {
		display: block
	}

	.close-button {
		color: $grey;
		display: none;
		position: absolute;
		top: 4px;
		right: 10px;
		font-size: 20px;
		z-index: 9999;
	}

	&.persistent {
		pointer-events: auto !important;
		.close-button {
			display: inherit;
		}
	}

	.tooltip-inner {
		position: relative;
		border: 1px solid #aaa;
		border-radius: 2px;
		background: #fff;
		padding: 10px;
		min-width: 180px;

		
		& .clear {
			display: block;
			clear: both;
		}

		&:after {
			display: block;
			content: ' ';
			background: #fff;
			width: 10px;
			height: 10px;
			border-top: 1px solid #aaa;
			border-right: 1px solid #aaa;
			border-top-right-radius: 2px;
			position: absolute;
		}
	}
}

.tooltip-n .tooltip-inner {
	transform: translate(-50%, 0%);
	top: 20px;
	left: 0px;

	&:after {
		top: -9px;
		left: 50%;
		transform: rotate(-45deg) translate(-50%, 0%);
	}
}

.tooltip-s .tooltip-inner {
	transform: translate(-50%, -100%);
	bottom: 20px;
	left: 0px;

	&:after {
		top: 100%;
		left: 50%;
		transform: translate(-50%, -4px) rotate(135deg);
	}
}

.tooltip-nw .tooltip-inner {
	transform: translate(-10%, 0%);
	top: 20px;
	left: 0px;

	&:after {
		top: -9px;
		left: 10%;
		transform: rotate(-45deg) translate(-50%, 0%);
	}
}

.tooltip-ne .tooltip-inner {
	transform: translate(-90%, 0%);
	top: 20px;
	right: 0px;

	&:after {
		top: -9px;
		left: 90%;
		transform: rotate(-45deg) translate(-50%, 0%);
	}
}

.tooltip-sw .tooltip-inner {
	transform: translate(-10%, -100%);
	bottom: 20px;
	left: 0px;

	&:after {
		top: 100%;
		left: 10%;
		transform: translate(-50%, -4px) rotate(135deg);
	}
}

.tooltip-se .tooltip-inner {
	transform: translate(-90%, -100%);
	bottom: 20px;
	right: 0px;

	&:after {
		top: 100%;
		left: 90%;
		transform: translate(-50%, -4px) rotate(135deg);
	}
}


@media(max-width: 375px) {
	body {
		.tooltip-inner {
			min-width: 148px !important;
			width: 148px !important;
		}
	}
}



.tooltip-inner {
	width: 160px;

	@media(max-width: 450px) {
		width: 140px;
		min-width: 140px;
	}

	.tt-header {
		font-family: $sans;
		color: #4a4a4a;
		font-weight: 500;
		font-size: 14px;
		margin-bottom: 4px;

		@media(max-width: 450px) {
			font-size: 12px;
		}
	}

	.tt-subheader {
		font-family: $mono;
		color: #4a4a4a;
		font-size: 10px;
		margin-bottom: 10px;
		text-align: left;
	}

	.tt-row {

		&.with-rule {
			margin-bottom: 5px;
			padding-bottom: 5px;
			border-bottom: 1px dotted #ccc;

			@media(max-width: 450px) {
				margin-bottom: 3px;
				padding-bottom: 3px;
			}
		}

		&.subhead {
			padding-top: 8px;
			strong {
				color: #4a4a4a;
			}
		}

		&:after {
			content: ' ';
			display: block;
			clear: both;
		}

		strong {
			float: left;
			font-family: $mono;
			font-size: 12px;
			color: #999;

			@media(max-width: 450px) {
				font-size: 10px;
			}
		}

		span {
			float: right;
			font-family: $mono;
			font-size: 12px;
			color: $orange-secondary;

			@media(max-width: 450px) {
				font-size: 10px;
			}
		}
	}
}

