@import 'feta';
// @import '_chosen-custom';
@import '_tooltip';
@import '_native-select';

// div {
// 	outline: 1px solid pink;
// }

// svg {
// 	outline: 1px solid limegreen;
// }

$dem-fill: rgba(0, 78, 137, .5);
$dem-stroke: rgba(0, 78, 137, 1);
$dem-fill-active: rgba(0, 78, 137, 1);

$gop-fill: rgba(186, 47, 14, .5);
$gop-stroke: rgba(186, 47, 14, 1);
$gop-fill-active: rgba(186, 47, 14, 1);


#content-main {
	margin: 0 auto;
	display: inline-block;
	width: 100%;
	text-align: center;
}

h2.all-head {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Gordita,Helvetica,Arial,sans-serif;
    color: #4a4a4a;
    font-weight: 500;
}

p.sub-head {
	font-family: $mono;
	font-size: 14px;
	color: #848484;
	text-align: center;
}


.search-container {
	width: 100%;
	display: inline-block;
	margin-top: 15px;
}


.well {
	width: 100%;
	max-width: 700px;
	display: inline-block;
	margin: 0 auto;
	position: relative;

	p {
		text-align: center;
		font-family: $mono;
		font-size: 14px;
		color: #4a4a4a;
	}
}

.key {
	position: absolute;
	right: 0;
	top: 30px;

	img {
		width: 100px;
		display: none;
	}

	img.key-lg {
		display: block;
	}
	

}

.key-test {
	circle {
		stroke: #a4a4a4;
		stroke-width: 1;
		fill: none;
	}
}



.chart {
	
	width: 100%;
	float: left;
	position: relative;

	.st-label {
		fill: #4a4a4a;
		font-size: 10px;

	}

	.dot {
		stroke-width: 1;
		opacity: .7;

		&.inactive {
			opacity: .1;
		}

		&.dem {
			//fill: #01356e;
			fill: $dem-fill;
			stroke: $dem-stroke;

			&.active {
				fill: $dem-fill-active;
				stroke: #000,
			}
			
		}

		&.gop {
			//fill: #b1290a;
			fill: $gop-fill;
			stroke: $gop-stroke;

			&.active {
				fill: $gop-fill-active;
				stroke: #000,
			}
		}
	}

	.axis {

		text {
			font-family: $mono;
		}

		.tick text {
			fill: #2a2a2a;
    		font-size: 12px;
		}

		line, path {
			stroke: #c2c2c2 !important;
			stroke-width: .5;
		}

		.domain {
			display: none;
		}

		.label {
			font-family: $mono;
			font-size: 13px;
			fill: #4a4a4a;
		}
		            
	}

	.zero-line {
		stroke: #c2c2c2 !important;
		stroke-width: 2 !important;
	}


	.voronoi-polygons {
		&.disabled {
			pointer-events: none;
		}
	}


	.labels {

		text {
			font-family: $mono;
			paint-order: stroke;
			stroke: white;
			stroke-width: 4px;
			stroke-linecap: round;
			stroke-linejoin: round;
		}

		
	}

}



@media(max-width: 621px) {
	.key {
		img.key-lg, img.key-mobile {
			display: none;
		}

		img.key-md {
			display: block;
		}
	}
}



@media(max-width: 375px) {

	.chart svg {
		.labels {
			display: none;
		}
	}


	.key {
		display: inline-block;
		position: relative;
		top: 0;
		left: 0;

		img.key-lg, img.key-md {
			display: none;
		}

		img.key-mobile {
			display: block;
			width: 300px;
		}
	}
}






