{{#extend "base"}}
{{#content "main"}}

<div id="content-main">
	<h2 class="all-head">Number insured and health care jobs</h2>
	<p class="sub-head">Change from 2010 to 2015</p>
	<!--<div class="well gop">
		<p>Counties won by Trump</p>
		<div class="chart"></div>
	</div>
	<div class="well dem">
		<p>Counties won by Clinton</p>
		<div class="chart"></div>
	</div>-->
	<select class="chosen-select"></select>
	<div class="well states">
		<div class="chart"></div>
	</div>
</div>
{{/content}}
{{/extend}}
