{{#extend "base"}}
{{#content "main"}}

<div id="content-main">
	<h2 class="all-head">Coverage gains and health care jobs</h2>
	<p class="sub-head">Change from 2013 to 2015</p>

	<div class="search-container">
		<div class="header-search native-select-wrapper"></div>
	</div>

	<div class="well states">
		<div class="chart"></div>
		<div class="key">
			<img class="key-lg" src="img/key-lg.png"/>
			<img class="key-md" src="img/key-md.png"/>
			<img class="key-mobile" src="img/key-mobile.png"/>
		</div>
	</div>

	<div class="key-test"></div>

</div>
{{/content}}
{{/extend}}
